# Версия numpy, совместимая с opencv-python 4.12.0.88
numpy>=2.0.0,<2.3.0

# Версия Pillow, которая не требует сборки из исходников (предварительно собранная)
Pillow==9.4.0

# Streamlit
streamlit==1.23.0

# Другие необходимые библиотеки
rembg==2.0.69
scikit-image==0.25.2
opencv-python-headless==4.12.0.88
