numpy==1.25.*  # Версия NumPy должна быть ниже второго мажора, иначе будут конфликты с Streamlit
streamlit==1.23.0  # Зафиксируйте версию Streamlit, чтобы исключить будущие проблемы
Pillow==9.4.0  # Укажите точную версию, чтобы предотвратить ошибки компиляции
rich>=10.14.0  # Рекомендуемая версия Rich для красивого вывода логов и уведомлений
pygments<3.0.0,>=2.13.0  # Библиотека подсветки синтаксиса, рекомендуемая Rich
markdown-it-py>=2.2.0  # Необходима для правильной работы Rich
mdurl~=0.1  # Необходима для правильной работы markdown-it-py
